{% extends 'base.html' %}
{% from 'macro/page_marco.html' import pagination_show %}
{% block title %}
    显示评论
{% endblock %}

{% block styles %}
{{ super() }}

{% endblock %}

{% block new_content %}
<div class="container">
    <div>
                {% for comment in pagination.items %}
                    <h5>
                    <label><img class="img-circle" src="{{  "/static/upload/" + comment.user.icon  }}" alt="." style="width: 20px;height: 20px">&nbsp;&nbsp;{{ comment.user.username }}</label>
                    </h5>
                    <label>评论内容：</label>
                    {{ comment.content }}<br>
                    <label>评论时间：</label>
                    {{ comment.datetime }}<br>
                    <button class="btn btn-info btn-xs comment_del" tag2="{{ comment.id }}">删除</button>
                    <br><br><br>



                {% endfor %}

            </div>

{{ pagination_show(pagination,'article_bp.show_comment') }}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{  "/static/js/" + 'del_comment.js'  }}"></script>
{% endblock %}