{% extends 'base.html' %}
{# 导入宏 #}
{% from 'macro/page_marco.html' import pagination_show %}
{% block title %}
我的相册
{% endblock %}

{% block styles %}
{{ super() }}
    <style>
        #photo{
            text-align: center;

        }
    </style>
{% endblock %}

{% block new_content %}
<div class="container">
    {% for photo in pagination.items %}
        <div id="photo">
            <img  src="https://flaskblog20210703.oss-cn-shanghai.aliyuncs.com/2021-7-3/{{ photo.photo_name }}" alt=".">&nbsp;&nbsp;
            <button class="btn btn-info btn-xs photo-del" tag="{{ photo.id }}">删除</button><br>
        <br>
        <br>
        </div>

    {% endfor %}


{# 使用宏 #}
{{ pagination_show(pagination,'photo_bp.my_photo') }}
</div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        $(function (){
    //相册图片的删除
    $('.photo-del').click(function () {
        flag = confirm('确定删除此图片吗？');
        if (flag) {
            //获取属性值tag，tag属性的是就是图片的主键
            let pid = $(this).attr('tag');
            location.href = '/photo/photo_del?pid=' + pid;
        }
    });
})
    </script>

{% endblock %}
