{% extends 'base.html' %}

{% block title %}
图片上传
{% endblock %}

{% block new_content %}
    <div class="container">
        <form method="post" action="" enctype="multipart/form-data">
            <label class="form-group">图片上传</label>
            <input type="file" class="form-group" name="photo" >
            <input type="submit" value="上传"><br>

        </form>
    </div>
{% endblock %}