{% extends 'base.html' %}

{% block title %}
    发布留言
{% endblock %}


{% block new_content %}
    <div class="container">
        <form method="post" action="{{ url_for('user_bp.add_message') }}" class="form-horizontal">
            <div class="form-group">
                <label  class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" placeholder="请输入您的姓名">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">留言内容</label>
                <div class="col-sm-10">
                    <input type="text" name="content" class="form-control" placeholder="请输入留言内容" style="height:100px;width: 500px">
                </div>
            </div>


            <div class="form-group">
                <label  class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" id="inputemail" placeholder="请输入邮箱">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">手机号</label>
                <div class="col-sm-10">
                    <input type="text" name="phone" class="form-control" placeholder="请输入手机号">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">发布留言</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}