{% extends 'base.html' %}
{% from 'macro/page_marco.html' import pagination_show %}
{% block title %}
    管理留言
{% endblock %}

{% block new_content %}
    <div class="container">
        {% for message in pagination.items %}
             <p>
                <h5><label >留言内容：</label>{{ message.content }}</h5>
                <h5><label >姓名：</label>{{ message.username }}</h5>
                <h5><label >邮箱：</label>{{ message.email }}</h5>
                <h5><label >手机：</label>{{ message.phone }}</h5>
                <h5><label >发布时间：</label>{{ message.datetime }}</h5>
                <button class="btn btn-info btn-xs message_del" tag2="{{ message.id }}">删除</button>
                <br><br><br>

                </p>
        {% endfor %}
{{ pagination_show(pagination,'user_bp.show_message') }}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/del_message.js') }}"></script>
{% endblock %}