{% extends 'bootstrap/base.html' %}



{% block title %}
    基础模板
{% endblock %}
{# 导入jquery cdn #}
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


{% block styles %}
    {{ super() }}
    <style>
        .img-circle {
            border-radius: 50px;
            overflow: hidden;
            height: 25px;
            width: 25px;
        }

    </style>
{% endblock %}

{% block navbar %}
    <div class="container">
        <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="{{url_for('user_bp.index')}}">博客网站</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{url_for('user_bp.show_information')}}">博主</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">文章<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for type in types %}
                    {% if not loop.last %}
                <li><a href="{{ url_for('article_bp.article_class_show',tid=type.id) }}">{{ type.type }}</a></li>
                <li role="separator" class="divider"></li>
                    {% else %}
                     <li><a href="{{ url_for('article_bp.article_class_show',tid=type.id) }}">{{ type.type }}</a></li>
                    {% endif %}
                {% endfor %}



              </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">相册<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('photo_bp.photo_upload') }}">图片上传</a></li>
                <li role="separator" class="divider"></li>
                  <li><a href="{{ url_for('photo_bp.my_photo') }}">我的相册</a></li>

              </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">留言<span class="caret"></span></a>
              <ul class="dropdown-menu">

                <li><a href="{{url_for('user_bp.add_message')}}">发布留言</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{url_for('user_bp.show_message')}}">管理留言</a></li>
              </ul>
            </li>

          </ul>
        {# 创建搜索表单 #}
          <form method="post" action="{{ url_for('article_bp.search') }}" class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" name="search" class="form-control" placeholder="请输入要搜索的关键词">
            </div>
            <button type="submit" class="btn btn-default" id="search">搜索</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
              <li><a href="{{ url_for('user_bp.logout') }}">退出</a></li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.username}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('user_bp.information_show') }}">用户信息修改</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ url_for('user_bp.password_modify') }}">密码修改</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ url_for('user_bp.email_modify') }}">邮箱修改</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ url_for('user_bp.icon_modify') }}">头像修改</a></li>
                  <li role="separator" class="divider"></li>
                <li><a href="{{ url_for('user_bp.add_information') }}">博主个人信息添加</a></li>
                  <li role="separator" class="divider"></li>
                <li><a href="{{ url_for('user_bp.modify_information') }}">博主个人信息修改</a></li>
              </ul>
            </li>

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">文章管理<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('article_bp.add_type') }}">添加文章类型</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ url_for('article_bp.show_type') }}">修改或删除文章类型</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ url_for('article_bp.publish') }}">发布文章</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ url_for('article_bp.show_user_article') }}">修改或删除文章</a></li>
                  <li role="separator" class="divider"></li>
                <li><a href="{{ url_for('article_bp.show_comment') }}">管理评论</a></li>

              </ul>
            </li>
              {% else %}
            <li><a href="{{url_for('user_bp.register')}}">注册</a></li>
            <li><a href="{{url_for('user_bp.login')}}">登录</a></li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    </div>

{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        {{ message }}
    </div>
{% endfor %}
    </div>
    <br>
    {% block new_content %}
        <div class="container">
            新的内容
        </div>

    {% endblock %}
{% endblock %}

