{% extends 'base.html' %}
{% from 'macro/page_marco.html' import pagination_show %}
{% block title %}
首页
{% endblock %}

{% block new_content %}
    <div class="container">
        {% for article in pagination.items %}
            <div class="container">
                <p>
                <h3><label class="form-group">标题：</label>
                    <a href="{{ url_for('article_bp.details',aid=article.id) }}">{{ article.title }}</a></h3>
                <h4>
                    <label class="form-group">正文：</label>
                    {{ article.content }}
                </h4>
                <h5><label >新闻类型：</label>{{ article.article_type.type }}</h5>
                <h5><label >作者：</label>{{ article.user.username }}</h5>
                <h5><label >发布时间：</label>{{ article.datetime }}</h5>
                <br>

                </p>
            </div>


        {% endfor %}

{{ pagination_show(pagination,'user_bp.index') }}
</div>
{% endblock %}