{% extends 'base.html' %}

{% block title %}
添加文章类型
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block new_content %}
<div class="container">
    <form method="post" action="">
        <label class="form-group">类型</label>
        <input type="text" name="type" placeholder="请输入文章类型"><br>
        <br>
        <input type="submit" value="添加">
    </form>
</div>
{% endblock %}