{% extends 'base.html' %}

{% block title %}
文章分类显示
{% endblock %}

{% block new_content %}
    <div class="container">
        {% for article in pagination.items %}
            <div class="container">
                <p>
                <h3><label class="form-group">标题：</label>
                    <a href="{{ url_for('article_bp.details',aid=article.id) }}">{{ article.title }}</a></h3>
                <h4>
                    <label class="form-group">正文：</label>
                    {{ article.content }}
                </h4>
                <h5><label >新闻类型：</label>{{ article.article_type.type }}</h5>
                <h5><label >作者：</label>{{ article.user.username }}</h5>
                <h5><label >发布时间：</label>{{ article.datetime }}</h5>
                <br>

                </p>
            </div>
        {% endfor %}
{% macro pagination_show(pagination,endpoint) %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {# 如果没有上一页，则不显示。 #} {# 如果有上一页，则点击跳转到上一页的路由，否则显示#号 #}    {#向左箭头#}
            <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
                <a href="{% if pagination.has_prev %}{{ url_for(endpoint,tid=tid,page=pagination.prev_num,**kwargs) }} {% else %}#{% endif %}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for p in pagination.iter_pages() %}{# 页码迭代器，自动生成页码 #}
                {% if p %}  {# 如果页码存在 #}
            {#中间页码部分#}
                    <li {% if pagination.page == p %} class="active" {% endif %}><a href="{{url_for(endpoint,tid=tid,page=p)}}">{{ p }}</a></li>
                    {# 点击当前页码跳转到当前页的路由 ,如果页码为当前页的时候为激活状态 #}
                {% else %}
                    <li><a>&hellip;</a></li>
                {% endif %}
            {% endfor %}
            {#向右箭头#}
            <li {% if not pagination.has_next %} class="disabled" {% endif %}>
                <a href="{% if pagination.has_next %}{{ url_for(endpoint,tid=tid,page=pagination.next_num,**kwargs) }}{% else %}#{% endif %}"
                        aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endmacro %}
    {{ pagination_show(pagination,'article_bp.article_class_show') }}

</div>
{% endblock %}