{% extends 'base.html' %}

{% block title %}
    文章详情页
{% endblock %}

{% block styles %}
{{ super() }}
    <style>
        #right{
            float: right;
        }
    </style>
{% endblock %}

{% block new_content %}
    <div class="container">
        <form method="post" action="{{ url_for('article_bp.comment') }}">
            <div class="container">
                <p>
                <h3><label class="form-group">标题：</label>
                    {{ article.title }}</h3>
                <h4>
                    <label class="form-group">正文：</label>
                    {{ article.content }}
                </h4>
                <h5><label>新闻类型：</label>{{ article.article_type.type }}</h5>
                <h5><label>作者：</label>{{ article.user.username }}</h5>
                <h5><label>发布时间：</label>{{ article.datetime }}</h5>
                <div id="right">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">点赞</span><span tag="0">{{ article.like }}</span>&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true">收藏</span><span tag="0">{{ article.Favorites }}</span>

                </div>
                <br>


                <input type="hidden" name="aid" value="{{ article.id }}">
                <label>评论内容</label><br>
                <textarea name="c_content" class="form-control" style="width: 60%" rows="5" cols="60">写下你想说的，开始我们的对话
                    </textarea>
                <br>
                <input type="submit" value="发表评论">
                </p>

    </div>
        <br>
            <div>
                {% for comment in pagination.items %}
                    <h5>
                    <label><img class="img-circle" src="{{  "/static/upload/" + comment.user.icon  }}" alt="." style="width: 20px;height: 20px">&nbsp;&nbsp;{{ comment.user.username }}</label>
                    </h5>
                    <label>评论内容：</label>
                    {{ comment.content }}<br>
                    <label>评论时间：</label>
                    {{ comment.datetime }}<br>
                    <br>

                {% endfor %}

            </div>
    </form>
    {% macro pagination_show(pagination,endpoint) %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {# 如果没有上一页，则不显示。 #} {# 如果有上一页，则点击跳转到上一页的路由，否则显示#号 #}    {#向左箭头#}
            <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
                <a href="{% if pagination.has_prev %}{{ url_for(endpoint,aid=article.id,page=pagination.prev_num,**kwargs) }} {% else %}#{% endif %}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for p in pagination.iter_pages() %}{# 页码迭代器，自动生成页码 #}
                {% if p %}  {# 如果页码存在 #}
            {#中间页码部分#}
                    <li {% if pagination.page == p %} class="active" {% endif %}><a href="{{url_for(endpoint,aid=article.id,page=p)}}">{{ p }}</a></li>
                    {# 点击当前页码跳转到当前页的路由 ,如果页码为当前页的时候为激活状态 #}
                {% else %}
                    <li><a>&hellip;</a></li>
                {% endif %}
            {% endfor %}
            {#向右箭头#}
            <li {% if not pagination.has_next %} class="disabled" {% endif %}>
                <a href="{% if pagination.has_next %}{{ url_for(endpoint,aid=article.id,page=pagination.next_num,**kwargs) }}{% else %}#{% endif %}"
                        aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endmacro %}
    {{ pagination_show(pagination,'article_bp.details') }}
    </div>
{% endblock %}



{#点击事件，传参到视图函数#}
{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            {# 点赞 #}
            $('.glyphicon-thumbs-up').click(function () {
                let $this=$(this);
                let tag=$this.next('span').attr('tag');{# 获取tag值 #}
                {# get方式传参 #}
                $.get("{{ url_for('article_bp.like') }}", {aid:{{article.id}}},function (data) {
                    $this.next('span').text(data.num);{# 接收数据 #}
                })
                if (tag == 0){
                    $this.css({'color':'red'})
                    $this.next('span').attr('tag',1){# 把tag变为1 #}
                } else {
                    $this.css({'color':'black'})
                    $this.next('span').attr('tag',0)
                }
            });

			{# 收藏 #}
            $('.glyphicon-heart-empty').click(function () {
                let $this=$(this);
                let tag=$this.next('span').attr('tag');{# 获取tag值 #}
                {# get方式传参 #}
                $.get("{{ url_for('article_bp.favorite') }}", {aid:{{article.id}}},function (data) {
                    $this.next('span').text(data.num);{# 接收数据 #}
                })
                if (tag == 0){
                    $this.css({'color':'red'})
                    $this.next('span').attr('tag',1){# 把tag变为1 #}
                } else {
                    $this.css({'color':'black'})
                    $this.next('span').attr('tag',0)
                }
            });
        });
    </script>
{% endblock %}
