{% extends 'base.html' %}

{% block title %}
    修改文章
{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block new_content %}
    <div class="container">
        <form method="post" action="{{ url_for('article_bp.modify_article') }}">
            <div>
                <input type="hidden" name="aid" value="{{ article.id }}">
                <label class="form-group">标题</label>
                <input type="text" name="title" value="{{ article.title }}"><br>
                <br>
            </div>
            <div>
                    <label class="form-group">类型</label>
                <select name="type_id" class="form-group">
                    <option value="0" >请选择文章分类</option>
                    {% for type in types %}
                        <option disabled value="{{ type.id }}">{{ type.type }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <br>
            <div>
                <label class="form-group">正文</label>
                <input type="text" name="content" value="{{ article.content }}" style="height: 200px;width: 500px"><br>
                <br>
            </div>

            <input type="submit" value="修改">
        </form>
    </div>
{% endblock %}