{% extends 'base.html' %}

{% block title %}
添加文章类型
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block new_content %}
<div class="container">
    <form method="post" action="{{ url_for('article_bp.modify_type') }}">
        <input type="hidden" name="tid" value="{{ article_type.id }}">
        <label class="form-group">类型</label>
        <input type="text" name="type" value="{{ article_type.type }}"><br>
        <br>
        <input type="submit" value="修改">
    </form>
</div>
{% endblock %}