{% extends 'base.html' %}

{% block title %}
    发布文章
{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block new_content %}
    <div class="container">
        <form method="post" action="">
            <div>
                <label class="form-group">标题</label>
                <input type="text" name="title" placeholder="请输入文章标题"><br>
                <br>
            </div>
            <div>
                    <label class="form-group">类型</label>
                <select name="type_id" class="form-group">
                    <option value="0">请选择文章分类</option>
                    {% for type in types %}
                        <option value="{{ type.id }}">{{ type.type }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <br>
            <div>
                <label class="form-group">正文</label>
                <input type="text" name="content" placeholder="请输入文章内容" style="height: 200px;width: 500px"><br>
                <br>
            </div>

            <input type="submit" value="提交">
        </form>
    </div>
{% endblock %}