{% extends 'base.html' %}

{% block title %}
显示文章类型
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block new_content %}
<div class="container">
    <h4>文章类型：</h4><br>
<div class="form-group">
    {% for type in types %}
        <h3>
        {{ type.id }}. {{ type.type }}&nbsp;&nbsp;<button class="btn btn-info btn-xs type_modify" tag="{{ type.id }}">修改</button>&nbsp;&nbsp;<button class="btn btn-info btn-xs type_del" tag2="{{ type.id }}">删除</button><br>
        <br>
        </h3>
    {% endfor %}
</div>




</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/modify_article_type.js') }}"></script>
    <script src="{{ url_for('static',filename='js/del_article_type.js') }}"></script>
{% endblock %}