{% extends 'base.html' %}

{% block title %}
    邮箱修改
{% endblock %}

{% block new_content %}
<div class="container">
    <form method="post" action="{{ url_for('user_bp.email_modify') }}" class="form-horizontal">
  <div class="form-group">
    <label  class="col-sm-2 control-label">旧邮箱</label>
    <div class="col-sm-10">
      <input type="text" name="old_email" class="form-control" placeholder="请输入旧邮箱">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">新邮箱</label>
    <div class="col-sm-10">
      <input type="text" name="new_email" class="form-control"  placeholder="请输入新邮箱">
    </div>
  </div>

  <div class="form-group">
    <label for="inputcaptcha" class="col-sm-2 control-label">验证码</label>
    <div class="col-sm-10">
      <input type="text" name="captcha" class="form-control" id="inputcaptcha" placeholder="请输入验证码"><br>
        <span><img id="img" src="{{ url_for('user_bp.captcha_show') }}" alt="."></span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">修改</button>
    </div>
  </div>
</form>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $('#img').click(function () {
            $(this).attr('src', "{{ url_for('user_bp.captcha_show') }}?ran=" + Math.random())
        })
    </script>
{% endblock %}
