{% extends 'base.html' %}

{% block title %}
头像上传修改
{% endblock %}

{% block new_content %}
    <div class="container">
        <form method="post" action="" enctype="multipart/form-data">
            <label class="form-group">头像上传</label>
            <input type="file" class="form-group" name="icon" >
            <input type="submit" value="上传"><br>
            <br>
            <label class="form-group">头像</label>
            <img class="img-circle" src="{{ "/static/upload/" + current_user.icon }}" alt="." style="width: 64px;height: 64px" >
        </form>
    </div>
{% endblock %}