{% extends 'base.html' %}

{% block title %}
    个人信息展示
{% endblock %}


{% block new_content %}
    <div class="container">
        <form method="post" action="{{ url_for('user_bp.information_modify') }}" class="form-horizontal">

            <div class="form-group">
                <label for="inputusername" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input type="text" name="username" class="form-control" id="inputusername" value="{{ current_user.username }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3"  class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password"  name="password" class="form-control" id="inputPassword3" value="{{ current_user.password }}"  disabled="" >
                </div>
            </div>

            <div class="form-group">
                <label for="inputemail" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" id="inputemail" value="{{ current_user.email }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputphone" class="col-sm-2 control-label">手机号</label>
                <div class="col-sm-10">
                    <input type="text" name="phone" class="form-control" id="inputtext" value="{{ current_user.phone }}">
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">修改</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}