{% extends 'base.html' %}

{% block title %}
    登录页面
{% endblock %}


{% block new_content %}
<div class="container">
    <form method="post" action="{{ url_for('user_bp.login') }}" class="form-horizontal">
  <div class="form-group">
    <label for="inputusername"  class="col-sm-2 control-label">用户名</label>
    <div class="col-sm-10">
      <input type="text" name="username" class="form-control" id="inputusername" placeholder="请输入用户名">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
    <div class="col-sm-10">
      <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="请输入密码">
    </div>
  </div>

  <div class="form-group">
    <label for="inputcaptcha" class="col-sm-2 control-label">验证码</label>
    <div class="col-sm-10">
      <input type="text" name="captcha" class="form-control" id="inputcaptcha" placeholder="请输入验证码"><br>
        <span><img id="img" src="{{ url_for('user_bp.captcha_show') }}" alt="."></span>
        <br>
        &nbsp;&nbsp;&nbsp;<h4><a href="{{ url_for('user_bp.register') }}">注册账号</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('user_bp.forget_password') }}">忘记密码</a></h4>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="rember_me"> 记住我
        </label>

      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">登录</button>
    </div>

  </div>
</form>



</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $('#img').click(function () {
            $(this).attr('src', "{{ url_for('user_bp.captcha_show') }}?ran=" + Math.random())
        })
    </script>
{% endblock %}

