{% extends 'base.html' %}

{% block title %}
    博主个人信息添加
{% endblock %}


{% block new_content %}
    <div class="container">
        <form method="post" action="{{ url_for('user_bp.add_information') }}" class="form-horizontal">

            <div class="form-group">
                <label  class="col-sm-2 control-label">个人信息</label>
                <div class="col-sm-10">
                    <input type="text" name="content" class="form-control" placeholder="请输入博主个人信息" style="height:100px;width: 500px">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">添加</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}