{% extends 'base.html' %}

{% block title %}
    博主个人信息展示
{% endblock %}


{% block new_content %}
    <div class="container">

            <div class="container">
                <p>
                <h4>
                    <label class="form-group">个人信息</label>
                    {{ personal_information.content }}
                </h4>
                </p>
            </div>

    </div>
{% endblock %}