{% extends 'base.html' %}

{% block title %}
    注册页面
{% endblock %}


{% block new_content %}
    <div class="container">
        <form method="post" action="" class="form-horizontal">
            <div class="form-group">
                <label for="inputusername" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input type="text" name="username" class="form-control" id="inputusername" placeholder="请输入用户名">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3"  class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password"  name="password" class="form-control" id="inputPassword3" placeholder="请输入密码">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" name="repassword" class="form-control" id="inputPassword3" placeholder="请再次输入密码">
                </div>
            </div>
            <div class="form-group">
                <label for="inputemail" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" id="inputemail" placeholder="请输入邮箱">
                </div>
            </div>
            <div class="form-group">
                <label for="inputphone" class="col-sm-2 control-label">手机号</label>
                <div class="col-sm-10">
                    <input type="text" name="phone" class="form-control" id="inputtext" placeholder="请输入手机号">
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">验证码</label>
                <div class="col-sm-10">
                    <input type="text" name="captcha" class="form-control" id="inputPassword3" placeholder="请输入验证码"><br>
                    <span><img id="img"
                               src="{{ url_for('user_bp.captcha_show') }}"#}
                               alt="."></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">注册</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $('#img').click(function () {
            $(this).attr('src', "{{ url_for('user_bp.captcha_show') }}?ran=" + Math.random())
        })
    </script>
{% endblock %}