{% extends 'base.html' %}

{% block title %}
    设置密码
{% endblock %}


{% block new_content %}
    <div class="container">
        <form method="post" action="{{ url_for('user_bp.set_password') }}" class="form-horizontal">
            <input type="hidden" name="username" value="{{ username }}">
            <div class="form-group">
                <label for="inputPassword3"  class="col-sm-2 control-label">旧密码</label>
                <div class="col-sm-10">
                    <input type="password"  name="old_password" class="form-control"  placeholder="请输入旧密码">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
                <div class="col-sm-10">
                    <input type="password" name="new_password" class="form-control"  placeholder="请输入新密码">
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">修改</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}